.user-comment-container{
    display: flex;
}
.user-comment{
    margin-left: 45px;
    text-align: justify;
    font-size: 15px;
    color: rgb(221, 218, 218);
}
.comment-date{
    margin-left: 10px;
    color: gray;
    font-weight: 300;
}
.comment-button{
    background-color: #66FCF1;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    float: right;
    margin-top: 10px;
    color: black;
}

.view-more-comment-button{
    display: flex;
    align-items: center;
    background-color: #66FCF1;
    font-size: 15px;
    padding: 5px;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    margin-top: 10px;
    color: black;
    font-weight: 300;
}
.close-x-button{
    font-weight: bold;
    color: rgb(230, 84, 84);
    float: right;
    font-size: 20px;
    padding: 10px;
}
.close-x-button:hover{
    cursor: pointer;
    color: red;
}
.comment-reply{
    margin-left: 50px;
}
.see-replies{
    margin-left: 50px;
    color: grey;
    text-decoration: underline;
}
.see-replies:hover{
    cursor: pointer;
}
.user-comment-edit{
    margin-left: 45px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid grey;
    width: 80%;
}

.update-button{
    background-color: #66FCF1;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    margin-left: 45px;
    margin-bottom: 15px;
    color: black;
}