.card-container {
    width: 60%;
    margin: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    padding: 10px;

}

.saved:hover svg {
    fill: rgb(60, 229, 221);
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card-content {
    margin-left: 40px;
    color: rgb(225, 225, 225);
    padding: 10px;
    text-align: justify;
}

.post-feed {
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 10px;

}

.feed-box {
    background-color: transparent;
    padding: 6px;
    border-radius: 10px;
    margin-right: 5px;

}

.post-feed p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.card-container:hover {
    background-color: rgb(42, 41, 41);
    cursor: pointer;
}

.user-name {
    color: rgba(255, 255, 255, 0.792);
    margin-left: 10px;
}

.post-date {
    color: rgb(117, 115, 115);
    margin-left: 10px;
}

.image-container {
    width: 100%;
    height: 300;
    border-radius: 10px;
    margin-top: 20px;
}


.notification-container {
    display: flex;
    background-color: grey;
    text-align: start;


}

.notification-box-content {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right: 16px; /* Add spacing between icon and text */
    width: 50%;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    
}

.notification-box-content p {
    margin: 0; /* Remove default margin */
    color: #fff;
    text-align: start;

    font-size: 16px;
}

.notification-box-content svg {
    margin-right: 19px; /* Add spacing between icon and text */
    color: #fff;
    text-align: start;

}

.noti-i{
    color: #fff;
    font-size: 45px;
}

.notification-whole{
    margin:10px;
    border-radius: 10px;
    background-color: #242526;
}

.icon-container {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    align-items: center; /* Align icons horizontally */
}

.notification-icon {
    margin-bottom: 5px; /* Adjust the spacing between the icons */
}

.notification-badge {
    position: absolute;
    top: 10;
    right: 10;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    z-index: 10; 
}

