.profile-main-container{
    height:100vh;
}
.profile-card {
    background-color: #fff;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    padding: 30px 20px;
    background-color: #0c0c0c;
    color: #fff;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.profile-name {
    margin: 0;
}

.profile-bio {
    margin: 5px 0 0;
}

.profile-details {
    padding: 20px;
}

.profile-details h2 {
    margin-top: 0;
    color: #0c0c0c;
}

.profile-details ul {
    list-style-type: none;
    padding: 0;
}

.profile-details ul li {
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    color: #a0a0a0;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}
.button:hover{
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
.popup {
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 2s ease-in-out;
}
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #c71515;
  }
  .popup .password-content {
    max-height: 30%;
    overflow: auto;
  }

  .password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #000000;
}


.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
